<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Document</title>
</head>
<body>
    <div id="contactFormBloc">
        <h1>Contact us</h1>
        <form action="" id="form">
            <label for="Name">Name</label>
            <input type="text" name="Name" id="name">
            <label for="Email">Email address</label>
            <input type="text" name="Email" id="email">
            <label for="Message">Your Message</label>
            <input type="text" name="Your Message" id="message">
        </form>
        <div id="buttonCenter">
        <button>Send !</button>
        </div>
    </div>
</body>
</html>